@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom properties */

:root {
  --ff-open: 'Open Sans', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;

  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-64: 4rem;

  --clr-violet: hsl(257, 40%, 49%);
  --clr-magenta: hsl(300, 69%, 71%);
  --clr-light-magenta: hsl(300, 53%, 82%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--clr-violet);
  background-image: url('./images/bg-mobile.svg');
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;

  color: var(--clr-white);
  font-family: var(--ff-open);
  font-size: var(--fs-16);
  line-height: 1.6;
  text-align: center;
}

img {
  max-width: 100%;
}

/* Typography */

.title {
  font-family: var(--ff-poppins);
  font-size: var(--fs-24);
  font-weight: var(--fw-semi-bold);
}

/* Utility styles */

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin: 0 auto;
  padding: 0 2.3em;

  min-width: 374px;
  max-width: 600px;
}

/* SECTIONS */

.logo-area {
  margin-top: 1.75em;
  width: 100%;
}

.logo-svg-img {
  display: block;
  width: 40%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  margin-top: 4em;
}

.illustration-area {
}

.copy-and-socials-area {
  margin-top: 3.5em;
}

.copy {
}

.copy-text {
  margin-top: 1em;
}

.cta-btn {
  background-color: var(--clr-white);
  border: none;
  border-radius: 1.5em;
  box-shadow: 1px 4px 8px 5px hsla(240, 1%, 24%, 0.3);
  color: var(--clr-violet);
  cursor: pointer;
  font-family: var(--ff-open);
  font-size: var(--fs-14);
  font-weight: var(--fw-regular);
  margin-top: 2em;
  padding: 1em 2em;
  width: 70%;
}

.cta-btn:focus,
.cta-btn:hover {
  background-color: var(--clr-magenta);
  box-shadow: 1px 4px 8px 2px hsla(240, 1%, 24%, 0.6);
  color: var(--clr-white);
}

.cta-btn:active {
  background-color: var(--clr-light-magenta);
  box-shadow: 1px 4px 12px 2px hsla(240, 1%, 24%, 0.8);
  color: var(--clr-white);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  margin-top: 3em;
}

.fab {
  border: 1px solid var(--clr-white);
  border-radius: 50%;
  color: var(--clr-white);
  cursor: pointer;
  padding: 0.4em 0;
  width: 32px;
}

.fab:focus,
.fab:hover {
  border-color: var(--clr-magenta);
  color: var(--clr-magenta);
}

.fab:active {
  border-color: var(--clr-light-magenta);
  color: var(--clr-light-magenta);
}

/* Footer */
.footer {
  margin-top: 2em;
  padding: 0.5em 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(0, 1%, 66%);
}

@media (min-width: 380px) {
  .container {
    height: 92%;
  }
}

@media (min-width: 1200px) {
  body {
    background-image: url('./images/bg-desktop.svg');
    background-size: cover;
  }

  .container {
    justify-content: flex-start;
    align-items: center;

    padding: 0;
    width: 90%;
    max-width: 1500px;
  }

  .logo-area {
    margin-top: 3.5em;
  }

  .logo-svg-img {
    width: 20%;
  }

  .main {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;

    margin-top: 7em;
  }

  .illustration-area {
    flex: 1 1 60%;
  }

  .illustration-svg-img {
    flex: 1 1 35%;

    width: 100%;
  }

  .copy-and-socials-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: 1 1 35%;

    height: 100%;
    margin-top: 0;
    padding-top: 3em;
    text-align: left;
  }

  .title {
    font-size: var(--fs-32);
    width: 95%;
  }

  .copy-text {
    font-size: var(--fs-14);
    margin-top: 1.5em;
    width: 95%;
  }

  .cta-btn {
    width: 40%;
  }

  .socials {
    justify-content: flex-end;
    gap: 0.75em;
  }

  .fab {
    padding: 0.5em 0;
    text-align: center;
    width: 32px;
  }

  .footer {
    margin-top: auto;
  }
}

@media (min-width: 1450px) {
  .copy-and-socials-area {
    gap: 3em;

    padding-top: 5em;
  }

  .main {
    margin-top: 5em;
  }

  .title {
    font-size: var(--fs-36);
    width: 85%;
  }

  .copy-text {
    font-size: var(--fs-16);
    margin-top: 1.5em;
    width: 95%;
  }
}

@media (max-height: 725px) {
  .main {
    margin-top: 2em;
  }
}
