@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom properties */

:root {
  --ff-open: 'Open Sans', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;

  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-64: 4rem;

  --clr-violet: hsl(257, 40%, 49%);
  --clr-magenta: hsl(300, 69%, 71%);
  --clr-light-magenta: hsl(300, 53%, 82%);
  --clr-white: hsl(0, 0%, 100%);
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--clr-violet);
  background-image: url('./images/bg-mobile.svg');
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;

  color: var(--clr-white);
  font-family: var(--ff-open);
  font-size: var(--fs-16);
  line-height: 1.6;
  max-width: 374px;
  text-align: center;
}

img {
  max-width: 100%;
}

/* Typography */

/* Utility styles */

.container {
  /* height: 100%; */
  margin: 1.75em auto;
  padding: 0 2.3em;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* SECTIONS */

.logo-area {
  width: 100%;
}

.logo-svg-img {
  display: block;
  width: 40%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  margin-top: 4em;
}

.illustration-area {
}

.copy-and-socials-area {
  margin-top: 3.5em;
}

.copy {
}

.title {
  font-family: var(--ff-poppins);
  font-weight: var(--fw-semi-bold);
}

.copy-text {
  margin-top: 1em;
}

.cta-btn {
  color: var(--clr-violet);
  cursor: pointer;
  background-color: var(--clr-white);
  border: none;
  border-radius: 1.5em;
  font-family: var(--ff-open);
  font-size: var(--fs-14);
  padding: 1em 2em;
  width: 70%;
  margin-top: 2em;
  box-shadow: 1px 4px 8px 5px hsla(240, 1%, 24%, 0.3);
}

.cta-btn:focus,
.cta-btn:hover {
  color: var(--clr-white);
  background-color: var(--clr-magenta);
  box-shadow: 1px 4px 8px 2px hsla(240, 1%, 24%, 0.6);
}

.cta-btn:active {
  color: var(--clr-white);
  background-color: var(--clr-light-magenta);
  box-shadow: 1px 4px 12px 2px hsla(240, 1%, 24%, 0.8);
}

.socials {
  margin-top: 3em;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.fab {
  color: var(--clr-white);
  cursor: pointer;
  border: 1px solid var(--clr-white);
  border-radius: 50%;
  padding: 0.4em 0;
  width: 32px;
}

.fab:focus,
.fab:hover {
  color: var(--clr-magenta);
  border-color: var(--clr-magenta);
}

.fab:active {
  color: var(--clr-light-magenta);
  border-color: var(--clr-light-magenta);
}

/* Footer */
.footer {
  margin-top: 2em;
  padding: 0.5em 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(0, 1%, 66%);
}
